<div class="container">
    <h1 class="container bg-dark text-white text-center my-4 py-4">[*ngFor]</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">LENGUAJE</th>
                <th class="col">COMPLEJIDAD</th>
                <th class="col">TIPO</th>
                <th class="col">FUNDACION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lenguaje of lenguajes; index as i">
                <th class="row">{{i + 1}}</th>
                <td>{{lenguaje.lenguaje}}</td>
                <td>{{lenguaje.complejidad}}</td>
                <td>{{lenguaje.tipo}}</td>
                <td>{{lenguaje.fundacion}}</td>
            </tr>
        </tbody>
    </table>
</div>